<header>
  <nav>
    <div class="logo">Resumenes T.N.C</div>
    <div class="nav-buttons">
      <button onclick="window.location.href='/'">Inicio</button>
      <button onclick="window.location.href='/carreras'">Carrera</button>
      <button onclick="window.location.href='/about'">Acerca</button>
    </div>
  </nav>
</header>
